body{margin:0;
padding: 0;}


.title{font-family:'Oleo Script', cursive;
color: white;
font-size: 40px;
}

section{
	background-color: rgb(25,25,112);
	color:white;
	padding: 10px 50px;
	
}

li:before {
    content: '✔';   
   padding: 2px;
   font-size: 20px;
   color: yellow;
	
}

.hline{border-bottom: 1px;
}