body {
	margin:0;
	padding: 0;
	font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/** Navigation **/
ul.nav.navbar-right {
	background:none;
}

.nav > li > a {
	padding: 15px 15px;
	color: #777;
}

.nav > li > a:hover {
	color: #000;
}

.containAll {
	top: 100px;
}

#main {
	margin-top: 0px;
}

.title {
	color: rgba(0, 33, 43, 1);
	font-size: 4.5rem;
	font-weight: 600;
	line-height: 1.125;
	margin:0;
	padding: 10px 0;
	margin-bottom: -50px;
	margin-top: 25px;
}

.title div{
	margin-top: 4px;
	height: 5px;
	width: 400px;
	background: rgb(166, 246, 184);
}

.exerciseCard {
	background: #333;
	height: 150;
	width: 392px;
	font-weight: 400;
	padding: 20px;
	margin-left: 0;
	margin-bottom: 20;
	box-shadow: black;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	margin-right: 20px;
	color: #fff;
	border-radius: 7px;
}

.exerciseCard > span > a {
	color:#fff;
	text-decoration: underline;
}

ul#workout {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: left;
}

span {
	font-weight: 400;
	font-size: 24;
	line-height: .9;
}

.clickedExerciseCard {
	color: rgba(255,255,255,.5);
	background-color: #78786F;
	opacity: .5;
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.clickedExerciseCard:hover {
	box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	color: white;
}

.buttons div span {
	font-size: 18px;
	line-height: 45px;
	font-weight: bold;
}

.statusBtn {
	flex-direction: row;
	height: 50px;
	width: 200px;
	background-color: #333;
	margin-right: 20px;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-left: 20px;
	color:#fff;
}

.markallBtn {
	width: 225px;
}

.refreshBtn {
	width: 150px;
}

.statusBtn:hover {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) inset;
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
	cursor: pointer;
}

.checkedCardMark {
	position: relative;
	display: inline-block;
	top: 0;
	right: 0;
	float: right;
	font-size: 35px;
	color: white;
	visibility: hidden;
}

#aboutus {
	background-color:#333333;
	padding: 30px 80px 40px 80px;
	text-align: center;
	color: white;
}

.aboutus-text {
	text-align:justify;
}

.h2data {
	text-align:center;
	color:white;
	padding: 10px 0;
	text-transform: uppercase;
}

.h2text {
	text-align:center;
	color:#333333;
	padding: 10px 0;
	text-transform: uppercase;
}

.video {
	min-width: 100%;
	width: auto;
	height: 70%;
	margin-bottom: 20px;
}
